<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="NuGet.CommandLine" version="5.4.0" targetFramework="native" developmentDependency="true" />
  <package id="System.Drawing.Common" version="4.7.0" targetFramework="native" developmentDependency="true" />
  <package id="System.Configuration.ConfigurationManager" version="4.7.0" targetFramework="native" developmentDependency="true" />
  
</packages>